<elements>

        <element name="block-seeAlso">
            <template>
                <hr is="separator" class="withButtonOnTop" />

                <h2>Voir aussi</h2>

                <ul class="links" is="itemList">
                    <li><a href="#">Exemple de facture à mode de versements égaux</a></li>
                    <li><a href="#">Comment réduire le montant de votre facture</a></li>
                </ul>   
                <content></content>
            </template>
        </element>

        <element name="block-buttons">
            <template>
                <button id="1" is="CTAButton" href="#">M'inscrire</button>
                <button id="2" is="CTAButton" href="#">Non!</button>
                <button id="3" is="CTAButton" href="#">Oui</button>
                <content></content>
            </template>
        </element>

        <element name="block-menu">
            <template>
                <div>
                    <a href="./sample1.html">Sample 1</a>
                    <a href="./sample2.html">Sample 2</a>
                </div>
                <content></content>
            </template>
            <style>
                .block-menu {
                    padding: 5px;
                    margin: 5px;
                    height: 2em;
                }
                .block-menu a {
                    display: block;
                    float: left;
                    padding: 3px;
                    margin: 3px;
                    border: 1px solid #000;
                    background: #fff;
                    text-decoration: none;
                }
                .block-menu a:hover {
                    background: #000;
                    color: #fff;
                }
            </style>
        </element>
</elements>