<elements>
        <element name="if">
            <template>
                    <content></content>
            </template>
            <script>
                controller("if", function(model, domain) {
                    // console.log("model", model);
                    var $el = $(this);
                    // console.log("value", $el.attr("value"), $el);
                    if (typeof($el.attr("if")) !== "undefined") {
                        var fValue = funex($el.attr("if") || "");
                        var value = fValue(model);
                        if (value) {
                            domain.render($el, value);
                        } else {
                            $el.remove();
                        }
                    } else {
                            $el.remove();
                    }
                });
            </script>
        </element>
</elements>