<elements>
        <element name="pageHeader">
            <template>
                <span is="label" value="page.title">Title goes here....</span>
                <content></content>
            </template>
            <style>
                .pageHeader {
                    border: 0.1em solid #000;
                    background: #fff;
                    padding: 1em;
                    margin: 1em;
                }
            </style>
            <script>
                controller("pageHeader", function() {
                });
            </script>
        </element>

</elements>