<elements>

        <element name="pageLayout">
            <template class="page">
                <content></content>
            </template>
            <style>
                .pageLayout {
                    border: 0.1em solid #000;
                    background: #ddf;
                    padding: 1em;
                    margin: 1em;
                }
            </style>
            <script>
                controller("pageLayout", function(model) {
                });
            </script>
        </element>


</elements>