<elements>

	<!--
	The logo visible on the homepage!
	-->
    <element name="logo">
        <template>
        	<div class="logo">
              <img src="images/cuttle-small.png" />
            </div>
        </template>
        <style>
        	.logo {
        		text-align: center;
        		margin-top: 20px;
        	}
        </style>
    </element>

	<!--
	The global metas
	-->
    <element name="metas">
        <template>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </template>
        <style>
        </style>
    </element>

</elements>