<elements>
	<element name="page">
		<template>
			<div class="page">
				<div class="row">
					<div class="span9">
						<div class="row">
							<content></content>
						</div>
					</div>
				</div>
			</div>
		</template>
		<style>
		.page {
			margin-top: 40px;
		}
		</style>
	</element>

	<element name="sidebar">
		<template>
			<div class="span3 sidebar">
				<content></content>
			</div>
		</template>
	</element>

	<element name="page-content">
		<template>
			<div class="span6 page-content">
				<content></content>
			</div>
		</template>
		<style>
			.page-content {
				padding-bottom: 60px;
			}
		</style>
	</element>

	<!--
	The logo visible on the homepage!
	-->
	<element name="logo">
		<template>
			<div class="logo">
				<img src="images/cuttle-small.png" />
			</div>
		</template>
		<style>
		.logo {
			text-align: center;
			margin-top: 20px;
		}
		</style>
	</element>

	<element name="github-button">
		<template>
		  <iframe
		  	src="http://ghbtns.com/github-btn.html?user=masyl&amp;repo=cuttlefish.js&amp;type=watch"
			allowtransparency="true"
			frameborder="0"
			scrolling="0"
			width="62"
			height="20"
			class="githubButton">
		</iframe>
		<style>
			.githubButton {
				margin: 10px 0;
			}
		</style>
		</template>
	</element>

	<!--
	The global metas
	-->
	<element name="metas">
		<template>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />

			<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
			<!--[if lt IE 9]>
			<script src="components/bootstrap/docs/assets/js/html5shiv.js"></script>
			<![endif]-->

		</template>
	</element>

	<!--
	-->
	<element name="navigation">
		<template>
			<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
						<a class="brand" href="#">cuttlefish.js</a>
						<ul class="nav">
							<li class="active">
								<a href="./">Introduction</a>
							</li>
							<li>
								<a href="./api.html">API</a>
							</li>
							<li>
								<github-button></github-button>
							</li>
						</ul>
					</div>
			</div>
		</template>
	</element>

</elements>




