<elements>
    <element name="CTAButton">
        <template>
            <span><content></content></span>
        </template>
        <script>
            controller("CTAButton", function() {
                $(this).click(function (e) {
                    e.preventDefault();
                    console.log("click! ", $(this).text().trim());
                })
            });
        </script>
        <style>
            .CTAButton {
                border: 0.1em solid #000;
                background: #444;
                color: #fff;
            }
        </style>
    </element>


    <element name="CTAButton2">
        <template>
            <span><content></content></span>
        </template>
        <script>
            controller("CTAButton2", function() {
                $(this).click(function (e) {
                    e.preventDefault();
                    console.log("click! ", $(this).text().trim());
                })
            });
        </script>
        <style>
            .CTAButton {
                border: 0.1em solid #000;
                background: #444;
                color: #fff;
            }
        </style>
    </element>
<elements>
